[Desktop Entry]
Comment=Aurorae theme that mimics Yosemite window decoration, with Materia colors.
Name=Materia2 Dark OSX
X-KDE-PluginInfo-Author=Julio Cesar
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=jcmljunior@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL_V3
X-KDE-PluginInfo-Name=materia2-dark-osx
X-KDE-PluginInfo-Version=1.0.0
